  

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("slider2.jpg", width: "1400", height: "500")%>
      
    </div>

    <div class="item">
      <%= image_tag("slider1.jpg", width: "1400",height: "500")%>
    </div>

    <div class="item">
     <%= image_tag("slider2.jpg", width: "1400", height: "500")%>
    </div>

    <div class="item">
      <%= image_tag("slider1.jpg", width: "1400", height: "500")%>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

      <div class="carousel-caption" style="margin-top: 3em;">
          <div class="row" style = "margin-top:11em; opacity:0.7">
            <div class="col-md-4 col-md-push-12">   
              <div class="banner-grids">
			 	        <div class="container">
			 	          <div class="banner-grid3" style = "height: 240px;">
		      		      <h3 style = "color:#fff">Search Doctors</h3>
		      		      <p>Free for patients Great for doctors </p>
		      	      </div>
		         <div class="banner-grid3" style = "height: 240px;">
		      		<h3 style = "color:#fff">See Profiles</h3>
		      		<p>You can see the doctor professional Profile </p>
		      	</div>
		          
			 	      <div class="banner-grid3" style = "height: 240px;">
		      		<h3 style = "color:#fff">Reviews and Rankings </h3>
		      		<p>Our services are being provided to the patient free of cost</p>
		      	</div>
		      </div>
        </div>
      </div>
    </div>
    </div>
  <%= render 'layouts/footer'%>