<section id="services">
  <div class="container">
    <div class="row" style="padding-top:90px;">
      <div><center><h1>Our Services</h1></center><hr style="width:30%"></div>
    </div>
  </div>
  <!--row to describe services-->
  <div class="container">
  <div class="row">
    <div class="col-md-4" id="Search-doctor">
      <center>
        <div class="glyphicon glyphicon-map-marker fa-5x" id="Icon"></div>
        <div class="Serve-heading">Search Doctors</div>
      <center>
        <div class="content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
    </div>
    <div class="col-md-4" id="Book-appointment">
      <center>
        <div class="glyphicon glyphicon-time fa-5x" id="Icon"></div>
          <div class="Serve-heading">Book Appointments</div>
      <center>
        <div class="content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
    </div>
    <div class="col-md-4"id="Share-experience">
      <center>
        <div class="glyphicon glyphicon-thumbs-up fa-5x" id="Icon"></div>
          <div class="Serve-heading">Share Experience</div>
      <center>
        <div class="content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
    </div>
  </div>
</div>
</section>
<!--team section started-->
<section id="Team" class="wow fadeInRight">
  <div class="container">
    <div class="row teamrow" style="">
      <div><center><h1>Our Team</h1></center><hr style="width:30%"></div>
    </div>
    <div class="row team-pics">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= image_tag "faizi.jpg", :class => "img-responsive img-circle team-img"%>
        <div class="row Team-heading">App Tester</div>
        <div class="row ">
          <div class='row social-icons'>
              <a href='http://www.facebook.com/muhammadhamza'>
                 <i id="cont-links" class='fa fa-facebook fa-lg'></i>
             </a>
             <a href='http://www.twitter.com/muhammadhamza'>
                 <i id="cont-links"  class='fa fa-twitter fa-lg'></i>
             </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= image_tag "hamza.jpg", :class => "img-responsive img-circle team-img"%>
        <div class="row Team-heading">Developer</div>
        <div class="row social-icons">
          <div class='row'>
              <a href='http://www.facebook.com/muhammadhamza'>
                 <i id="cont-links"  class='fa fa-facebook fa-lg'></i>
             </a>
             <a href='http://www.twitter.com/muhammadhamza'>
                 <i id="cont-links"  class='fa fa-twitter fa-lg'></i>
             </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= image_tag "ahsan.jpg", :class => "img-responsive img-circle team-img"%>
        <div class="row Team-heading">Database Developer</div>
        <div class="row social-icons">
          <div class='row'>
              <a href='http://www.facebook.com/muhammadhamza'>
                 <i  id="cont-links"  class='fa fa-facebook fa-lg'></i>
             </a>
             <a href='http://www.twitter.com/muhammadhamza'>
                 <i  id="cont-links"  class='fa fa-twitter fa-lg'></i>
             </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= image_tag "palwisha.jpg", :class => "img-responsive img-circle team-img"%>
        <div class="row Team-heading">UI Designer</div>
        <div class="row social-icons">
          <div class='row'>
              <a href='http://www.facebook.com/muhammadhamza'>
                 <i id="cont-links" class='fa fa-facebook fa-lg'></i>
             </a>
             <a href='http://www.twitter.com/muhammadhamza'>
                 <i id="cont-links"  class='fa fa-twitter fa-lg'></i>
             </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= image_tag "waaris.jpg", :class => "img-responsive img-circle team-img"%>
        <div class="row Team-heading">Developer</div>
        <div class="row social-icons">
          <div class='row'>
              <a href='http://www.facebook.com/muhammadhamza'>
                 <i id="cont-links"  class='fa fa-facebook fa-lg'></i>
             </a>
             <a href='http://www.twitter.com/muhammadhamza'>
                 <i id="cont-links"  class='fa fa-twitter fa-lg'></i>
             </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= image_tag "sameed.jpg", :class => "img-responsive img-circle team-img"%>

        <div class="row Team-heading">Product Manager</div>
        <div class="row" >
          <div class='row social-icons'>
              <a href='http://www.facebook.com/muhammadhamza'>
                 <i id="cont-links"  class='fa fa-facebook fa-lg'></i>
             </a>
             <a href='http://www.twitter.com/muhammadhamza'>
                 <i  id="cont-links" class='fa fa-twitter fa-lg'></i>
             </a>
          </div>
        </div>
      </div>
  </div>
</section>
