<br/><br/><br/><br/><br/>
    <%= render 'layouts/docbar'%>
    <br/>
    <div class="profile-section-inner">
        <div class="row">
            <div class="col-md-4 col-md-push-3 profile-info">
            <h3 class="inner-tittle">Academic Information</h3>
               <div class="main-grid3">
                   <div class="p-20">
                      <% @degree.each do |c| %>
                      <div class="about-info-p">
                          <strong>Degree</strong>
                          <br>
                          <p class="text-muted"><% if ((@degree) && (c.degreeName))%><%adder=true%><%=c.degreeName%><%else%><%="Please Add University Name"%><%end%></p>
                        </div>
                        <div class="about-info-p">
                          <strong>University</strong>
                          <br>
                          <p class="text-muted"><% if ((@degree) && (c.uniName))%><%=c.uniName%><%else%><%="Please Add University Name"%><%end%></p>
                        </div>
                        <%end%>
                    </div>
                  </div>
                  <br/>
                  <%= link_to "Add Qualification",{:controller => :degrees ,:action => :new ,:id => @doctor.id}, :class => "btn btn-edit" %>
              </div>
          </div>
      </div>
