<br/><br/><br/><br/><br/>
                          <%= render 'layouts/docbar'%>
                          <br/>
                            <div class="profile-section-inner">
                                <div class="row">
                                    <div class="col-md-4 col-md-push-3 profile-info">
                                       <h3 class="inner-tittle">Professional Information</h3>
                                       <div class="main-grid3">
                                          <div class="p-20">
                                              <div class="about-info-p">
                                                <strong>Speciality</strong>
                                                <br>
                                                <p class="text-muted"><% if ((@office) && (@office.spec))%><%added=true%><%=@office.spec%><%else%><%="Please Add Specialization"%><%end%></p>
                                              </div>
                                              <div class="about-info-p">
                                                <strong>Fee</strong>
                                                <br>
                                                <p class="text-muted"><% if ((@office) && (@office.fee))%><%=@office.fee%><%else%><%="Please Add Fee"%><%end%> PKR</p>
                                              </div>
                                              <div class="about-info-p">
                                                <strong>Office Timings</strong>
                                                <br>
                                                <p class="text-muted"><% if ((@office) && (@office.offstart) && (@office.offend))%><%=@office.offstart%>-<%=@office.offend%> (24-hour format)<%else%><%="Please Add Office Hours"%><%end%></p>
                                              </div>
                                              <div class="about-info-p m-b-0">
                                                <strong>Office Address</strong>
                                                <br>
                                                <p class="text-muted"><% if ((@office) && (@office.address))%><%=@office.address%><%else%><%="Please Add Office Address"%><%end%></p>
                                              </div>
                                            </div>
                                        </div><br/>
                                        <%if (added==true) %>
                                           <%= link_to "Edit your Professional Info",{:controller => :professions ,:action => :edit ,:id => @doctor.id}, :class =>"btn btn-edit" %>
                                        <%else%>
                                        <%= link_to "Add your Professional Info",{:controller => :professions ,:action => :new ,:id => @doctor.id}, :class =>"btn btn-edit" %>

                                        <%end%>
