<div class="container">
<div class="row cover-row">
  <div class="col-md-2 userpic">
    <img class="img-responsive patient-img" src="assets/images/mypic.jpg">
  </div>
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="col-md-3 user-blocks">
    <div class="Number">
        24
    </div>
      <div class="user-headings">
        Appointments
      </div>
  </div>
  <div class="col-md-3 user-blocks">
    <div class="Number">
      9
    </div>

    <div class="user-headings">
      Starred
    </div>

  </div>
  <div class="col-md-3 user-blocks">
    <div class="Number">
      5
    </div>

    <div class="user-headings">
      Reviews
    </div>

  </div>
  </div>
  <br/><br/><br/>


  <div class="col-md-8 contact-form">
    <div class="form-group">
    <%= form_for(@patient),:url =>{:action => :search, :id => @patient.id } do |f| %>
      <%= f.label :name, id:"label"%>
        <%= f.text_field :name,class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.label :email,id:"label" %>
            <%= f.email_field :email,class: 'form-control'  %>
        </div>
        <%= select_tag(:sex, '<option value="1">Lisbon</option>...') %>

        <div class="form-group">
            <%= f.label :sex,id:"label" %>
              <%= f.text_field :sex,class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :phone,id:"label" %>
                <%= f.text_field :phone,class: 'form-control'  %>
            </div>
        <div class="form-group">
              <%= f.label :password,id:"label" %>
              <%= f.password_field :password,class: 'form-control' %>
          </div>
          <div class="form-group">
              <%= f.label :password_confirmation, "Confirmation",id:"label" %>
              <%= f.password_field  :password_confirmation,class: 'form-control' %>
          </div>
          <div class="row checkboxesrow">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 ">

            </div>

          </div>
          <div class="form-group">
              <%= f.submit "Sign Up", class: "btn btn-signin" %>
          </div>
        <%end %>



  </div><!-- /.contact-form -->
