<br/><br/><br/><br/><br/>
<%= render 'layouts/docbar'%>
<div class="row">
    <div class="profile-section-inner">
          <div class="col-md-7 col-md-push-3 profile-info">
            <h3 class="inner-tittle">Edit Personal Information </h3>
            <div class="main-grid3">
                <div class="p-20">
                    <%= form_for @doctor,:url =>{ :controller =>"doctors", :action =>"update", :id =>@doctor.id}  do |f| %>
                    <div class="form-group">
                        <div class="about-info-p">
                            <strong>Name</strong>
                            <br/>
                            <%= f.text_field :name,class: 'form-control text-muted' %>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="about-info-p">
                            <strong>Email</strong>
                            <br/>
                            <%= f.text_field :email,class: 'form-control text-muted' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="about-info-p">
                            <strong>Contact Number</strong>
                            <br/>
                            <%= f.text_field :phone,class: 'form-control text-muted' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="about-info-p">
                            <strong>Gender</strong>
                            <br/>
                            <%= f.text_field :sex,class: 'form-control text-muted' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="about-info-p">
                            <strong>Password</strong>
                            <br/>
                            <%= f.text_field :password,class: 'form-control text-muted' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="about-info-p">
                            <strong>Confirm Password</strong>
                            <br/>
                            <%= f.text_field :password_confirmation,class: 'form-control text-muted' %>
                        </div>
                    </div>
                        <div class="form-group">
                            <%= f.submit "Save Changes", class: "btn btn-edit" %>
                        </div>
                      <%end %>
                      <center>
                    </div><!-- /.contact-form -->
                </div>
            </div>
        </div>
    </div>
