<br/><br/><br/><br/>
<%= render 'layouts/profilebar'%>

<div class="custom-widgets">
   <div class="row-one">
        <div class="col-md-3 col-md-push-3  widget">
            <div class="stats-left ">
                <h5>Total</h5>
                <h4> Views</h4>
            </div>
            <div class="stats-right">
                <label>0</label>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 col-md-push-3 widget states-mdl">
            <div class="stats-left">
                <h5>Total</h5>
                <h4>Followers</h4>
            </div>
            <div class="stats-right">
                <label><%=@doctor.followers.count%></label>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 col-md-push-3 widget states-thrd">
            <div class="stats-left">
                <h5>Total</h5>
                <h4>Appointments</h4>
            </div>
            <div class="stats-right">
                <label><%=@doctor.appointments.count%></label>
            </div>
            <div class="clearfix"> </div>
        </div>
     <div class="clearfix"> </div>
    </div>
</div>
<!-- This is the personal info section -->
<div class="profile-section-inner">
    <div class="col-md-6 col-md-push-3 profile-info">
        <h3 class="inner-tittle">Personal Information </h3>
        <div class="main-grid3">
            <div class="p-20">
                <% @doctor.degrees.each do |c| %>
                <div class="about-info-p">
                    <div class="glyphicon glyphicon-education" style="color:#002561;"></div><strong>Qualifications</strong>
                    <br>
                    <div class="text-muted"><% if ((@doctor.degrees) && (c.degreeName))%><%adder=true%><%=c.degreeName%><%=" "%><%else%><%="Please Add University Name"%><%end%></p>
                  </div>
              </div>
                <%end%>
                <div class="about-info-p">
                  <strong>Speciality</strong>
                  <br>
                  <p class="text-muted"><% if ((@doctor) && (@doctor.profession))%><%=@doctor.profession.spec%><%else%><%="Will be Available Soon"%><%end%></p>
                </div>
                <div class="about-info-p">
                  <strong>Fee</strong>
                  <br>
                  <p class="text-muted"><% if ((@doctor) && (@doctor.profession))%><%=@doctor.profession.fee%><%else%><%="Will be Available Soon"%><%end%> PKR</p>
                </div>
                <div class="about-info-p">
                  <strong>Office Timings</strong>
                  <br>
                  <p class="text-muted"><% if ((@doctor) && (@doctor.profession) &&(@doctor.profession.offend))%><%=@doctor.profession.offstart%><%="-"%><%=@doctor.profession.offend%>(24-hour format)<%else%><%="Will be Available Soon"%><%end%></p>
                </div>
                <div class="about-info-p m-b-0">
                  <strong>Office Address</strong>
                  <br>
                  <p class="text-muted"><% if ((@doctor) && (@doctor.profession))%><%=@doctor.profession.address%><%else%><%="Will be Available Soon"%><%end%></p>
                </div>


<!--
<br/> <br/><br/><br/><br/>
<div class="container">
  <div class="row pat-profile">
    <div class="row">
    <div class="col-md-1">
      <%= image_tag("mypic.jpg", :alt => "rss feed",:class => "doc-pat-img") %>
    </div> <br/><br/><br/><br/>
    <div class="col-md-5 col-md-pull-1"><div class="doc-name"><%="Dr."+@doctor.name.upcase%></div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2 doc-pat-degree"><% if @doctor.profession%><%=@doctor.profession.spec.upcase%><%else%><%='Not Given Yet'%><%end%></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9 doc-pat-degree">
        <a href='http://www.facebook.com/muhammadhamza'>
         <i id="cont-links1" class='fa fa-facebook fa-lg'></i>
        </a>
        <a href='http://www.twitter.com/muhammadhamza'>
         <i id="cont-links1"  class='fa fa-twitter fa-lg'></i>
       </a>
       <a href='http://www.facebook.com/muhammadhamza'>
        <i id="cont-links1" class='fa fa-linkedin fa-lg'></i>
      </a> &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
      <%user = params[:patid]%>
       <%=link_to "Appointment",{ :controller => "appointments", :action => "new", :docid =>@doctor.id,:patient => params[:patid] },:class => "btn-appointment"%>


       <%=link_to "Follow",{ :controller => "followers", :action => "create", :id =>@doctor.id,:patient => params[:patid] },:class => "btn-appointment"%>
     </div>
    </div>
  </div>
    <!--insert MAP here-->
    <!-- <div class="col-md-3 col-md-push-1">
      <div style='width: 800px;'>
        <div id="map" style='width: 400px; height: 160px;'></div>
      </div>
    </div>
  </div>
  <hr>

  <div class="minor-details-doc-profile">
    <div class="row prof-heading"><h2 >Qualification and  Experience</h2>
    </div>
    <div class="row"><div class="col-md-2" id="prof-sub-heading"><div class="glyphicon glyphicon-education"></div>Education</div>

      <div class="col-md-6 sub-heading-detail">
        <% if @doctor.degrees.blank? %>
          <p>Not mentioned his degrees yet</p>
        <%else%> <!--see how can we make it ;ist-->
            <!-- <% @doctor.degrees.each do |deg| %>
          <%=deg.degreeName%>
          <%end%>
        <%end%>
      </div><hr>

    </div>
    <div class="row"><div class="col-md-2" id="prof-sub-heading"><div class="glyphicon glyphicon-paperclip"></div>Fee</div>

      <div class="col-md-6 sub-heading-detail"><% if @doctor.profession%><%=@doctor.profession.fee%><%else%><%='Not Given Yet'%><%end%></div>  <hr>
  </div>
      <div class="row"><div class="col-md-2 " id="prof-sub-heading"><div class="glyphicon glyphicon-thumbs-up"></div>Expertise</div>


      <div class="col-md-6 sub-heading-detail"><% if @doctor.profession%><%=@doctor.profession.spec%><%else%><%='Not Given Yet'%><%end%></div>  <hr>
    </div>
    <div class="row">
    </div>
  </div>
</div>
</div>
<%= form_for(@doctor.followers.build) do |f| %>
<div><%= f.hidden_field :patient_id, :value => params[:patid] %></div>
 <div><%=f.hidden_field :doctor_id, :value => @doctor.id %></div>

 <%= f.submit "Follow", class: "btn-appointment" %>
 <%end%> -->
