<div class="container">
<div class="row cover-row">
  <div class="col-md-2 userpic">
    <img class="img-responsive patient-img" src="assets/images/mypic.jpg">
  </div>
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="col-md-3 user-blocks">
    <div class="Number">
        24
    </div>
      <div class="user-headings">
        Appointments
      </div>
  </div>
  <div class="col-md-3 user-blocks">
    <div class="Number">
      9
    </div>

    <div class="user-headings">
      Starred
    </div>

  </div>
  <div class="col-md-3 user-blocks">
    <div class="Number">
      5
    </div>

    <div class="user-headings">
      Reviews
    </div>

  </div>
  </div>
</div>
  <br/><br/><br/>

  <div class="col-md-8 contact-form">
    <div class="form-group">
      <% patid = params[:patid] %>
      <%=patid%>
    <%= form_for (@search) do |f| %>
      <%= f.label :name, id:"label"%>
        <%= f.text_field :name,class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.label :gender,id:"label" %>
            <%= f.text_field :gender,class: 'form-control'  %>
        </div>
        <div class="form-group">
            <%= f.label :area,id:"label" %>
              <%= f.text_field :area,class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :speciality,id:"label" %>
                <%= f.text_field :speciality,class: 'form-control'  %>
                <%= f.hidden_field :patid, :value => params[:patid]%>
            </div>
            <div class="form-group">
                <%= f.submit "Search", class: "btn btn-signin" %>
            </div>
          </div>
      <%end%>
