<br/><br/><br/><br/><br/>
              <%= render 'layouts/patbar'%>
              <br/>
                <div class="profile-section-inner">
                    <div class="row">
                        <div class="col-md-6 col-md-push-3 profile-info">
                           <h3 class="inner-tittle">APPOINTMENTS</h3>
                           <div class="main-grid3">
                              <div class="p-20">
                                  <table class="table">
                                   <thead class="thead-inverse" style="color:#fff">
                                     <tr>

                                       <th>Doctor Name</th>
                                       <th>Contact No.</th>
                                       <th>Appointment Time</th>
                                       <th>Appointment Date</th>
                                       <th>Review</th>
                                     </tr>
                                   </thead>
                                   <tbody>
                                       <% @patient.appointments.each do |c| %>
                                       <tr>
                                           <td><% if c.doctor.name%>
                                                    <%=c.doctor.name%>
                                                 <%else%>

                                                 <%end%>
                                            </td>
                                            <td><% if c.doctor.phone%>
                                                     <%=c.doctor.phone%>
                                                  <%else%>
                                                  <%="No Contact Number Given"%>
                                                  <%end%>
                                             </td>
                                           <td><%=c.appointtime%></td>
                                           <td><%=c.appdate%></td>
                                           <td><%=link_to "Reviews", {:controller => "reviews", :action => "new", :patid => @patient.id, :docid => c.doctor.id}, :class =>"" %></td>
                                     </tr>
                                     <%end%>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
