<br/><br/><br/><br/><br/>
              <%= render 'layouts/docbar'%>
              <br/>
                <div class="profile-section-inner">
                    <div class="row">
                        <div class="col-md-4 col-md-push-3 profile-info">
                           <h3 class="inner-tittle">APPOINTMENTS</h3>
                           <div class="main-grid3">
                              <div class="p-20">
                                  <table class="table">
                                   <thead class="thead-inverse">
                                     <tr>

                                       <th>Patient Name</th>
                                       <th>Contact No.</th>
                                       <th>Appointment Time</th>
                                       <th>Appointment Date</th>
                                     </tr>
                                   </thead>
                                   <tbody>
                                       <% @doctor.appointments.each do |c| %>
                                       <tr>
                                           <td><% if c.patient.name%>
                                                  <%=c.patient.name%>
                                                 <%else%>
                                                 <%=c.patient.name%>
                                                 <%end%>
                                            </td>
                                            <td><% if c.patient.phone%>
                                                    <%=c.patient.phone%>
                                                  <%else%>
                                                  <%=c.patient.phone%>
                                                  <%end%>
                                             </td>
                                           <td><%=c.appointtime%></td>
                                           <td><%=c.appdate%></td>
                                     </tr>
                                </tbody>
                            </table>

                        </div><%end%>
                    </div>
                </div>
              <!-- <div class="col-md-4 col-md-push-3">
                  <br/><br/><br/><br/><br/>
                  <%= render 'layouts/clock'%>
              </div> -->
          </div>
