<br/><br/><br/><br/><br/><br/>
<%= render 'layouts/patbar'%>
<div class="container">
  <div class="profile-section-inner">
      <div class="col-md-6 col-md-push-3 profile-info">
     <h3 class="inner-tittle" style="color:#021F4E"><strong>Please Fill in the Form </strong> </h3>
      <%= form_for (@reviews) do |f| %>
      <div class="form-group">
        <%= f.label :waitTime, id:"label1"%>
          <%= f.text_field :waitTime,class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :besideManner,id:"label1" %>
              <%= f.text_field :besideManner,class: 'form-control'  %>
          </div>
        <div class="form-group">
            <%= f.label :overallRating,id:"label1" %>
            <%= f.text_field :overallRating,class: 'form-control'  %>
            <%= f.hidden_field :patient_id, :value => params[:patid]%>
            <%= f.hidden_field :doctor_id, :value => params[:docid]%>
          </div>
          <div class="form-group">
              <%= f.label :description,id:"label1" %>
              <%= f.text_field :description,class: 'form-control'  %>
          </div>
                <div class="form-group">
                <%= f.submit "Submit Review", class: "btn btn-edit" %>
            </div>
          <%end %>
      