<br/><br/><br/><br/>
<%= render 'layouts/docbar'%>
<div class="profile-section-inner">
      <div class="col-md-6 col-md-push-3 profile-info">
     <h3 class="inner-tittle" style="color:#021F4E"><strong>Reviews </strong> </h3>
     <div class="main-grid3">
                    <% @doctor.reviews.each do |c| %>
                    <div class="p-20">
            <div class="about-info-p">
                <% if c && c.patient%>
                <strong>patient Name</strong>
                <br>
                <div class="text-muted"><p><% if c && c.patient%><%=c.patient.name.upcase%><%else%><%="Please Add University Name"%><%end%></p>
              </div>
          </div>
          <div class="about-info-p">
              <strong>Waiting Time</strong>
              <br>
              <div class="text-muted"><p><% if c.waitTime.nil?%><%="Not mentioned yet"%><%else%><%=c.waitTime%><%end%></p>
            </div>
          </div>
          <div class="about-info-p">
              <strong>Beside Manner</strong>
              <br>
              <div class="text-muted"><p><% if c.besideManner.nil?%><%="Not mentioned yet"%><%else%><%=c.besideManner%><%end%></p>
            </div>
          </div>
          <div class="about-info-p">
              <strong>Beside Manner</strong>
              <br>
              <div class="text-muted"><p><% if c.overallRating.nil?%><%="Not mentioned yet"%><%else%><%=c.overallRating%><%end%></p>
            </div>
          </div>
          <hr>
          <%end%>
          <%end%>
          </div>
         </div>