<br/><br/><br/><br/>
<%= render 'layouts/patbar'%>
<div class="profile-section-inner">
      <div class="col-md-6 col-md-push-3 profile-info">
     <h3 class="inner-tittle">Personal Information </h3>
     <div class="main-grid3">
     <% @patient.reviews.each do |c| %>
        <div class="p-20">
            <div class="about-info-p">
                <% if c && c.doctor%>
                <strong>Doctor Name</strong>
                <br>
                <div class="text-muted"><p><% if c && c.doctor%><%="Dr."+c.doctor.name.upcase%><%else%><%="Please Add University Name"%><%end%></p>
              </div>
          </div>
          <div class="about-info-p">
              <strong>Waiting Time</strong>
              <br>
              <div class="text-muted"><p><% if c.waitTime.nil?%><%="Not mentioned yet"%><%else%><%=c.waitTime%><%end%></p>
            </div>
          </div>
          <div class="about-info-p">
              <strong>Beside Manner</strong>
              <br>
              <div class="text-muted"><p><% if c.besideManner.nil?%><%="Not mentioned yet"%><%else%><%=c.besideManner%><%end%></p>
            </div>
          </div>
          <div class="about-info-p">
              <strong>Beside Manner</strong>
              <br>
              <div class="text-muted"><p><% if c.overallRating.nil?%><%="Not mentioned yet"%><%else%><%=c.overallRating%><%end%></p>
            </div>
          </div>
          <hr>
          <%end%>
          <%end%>
                <!-- <div class="col-md-10">
                  <center>
                    <div class="row heading-row1">Appointments</div><hr style="width:30%">
                  </center>
                  <% patid = current_user %>
                  <%=patid%>
                  <div class="row professional-row">
                    <% @patient.reviews.each do |c| %>
                    <div class="row"><div class="col-md-4" id="pro-label">Doctor Name:</div><div class="col-md-8 pro-info"><% if c && c.doctor%>
                                                                                                                                <%=c.doctor.name%>
                                                                                                                            <%else%>

                                                                                                                                  <%end%></div></div>

                    <div class="row"><div class="col-md-4" id="pro-label">Waiting Time:</div><div class="col-md-8 pro-info"><% if c.waitTime.nil?%>
                                                                                                                              <%="Not mentioned yet"%>
                                                                                                                                  <%else%>
                                                                                                                                  <%=c.waitTime%>
                                                                                                                                  <%end%></div></div>
                    <div class="row"><div class="col-md-4" id="pro-label">Overall Rating:</div><div class="col-md-8 pro-info"><% if c.overallRating.nil?%>
                                                                                                                            <%="Not mentioned yet"%>
                                                                                                                                  <%else%>
                                                                                                                                  <%=c.overallRating%>
                                                                                                                                  <%end%></div></div>
                    <div class="row"><div class="col-md-4" id="pro-label">Beside Manner:</div><div class="col-md-8 pro-info"><% if c.besideManner.nil?%>
                                                                                                                                                                                                                                          <%="Not mentioned yet"%>
                                                                                                                                                                                                                                                <%else%>
                                                                                                                                                                                                                                                <%=c.besideManner%>
                                                                                                                                                                                                                                                <%end%></div></div>
                    <hr style="width:100%">
                    <!--<%=Time.now.utc%>
                    <%=Time.now.strftime("%H:%M")%>
                  -->
                    <!-- <%end%>
                   </div>
                </div>
              </div>
            </div> -->
