<div class="sidebar-menu">
  <br/><br/><br/>  <br/><br/><br/><br/>
  <header class="logo">
  <span id="logo"> <h1>PROFILE</h1></span>
  <!--<img id="logo" src="" alt="Logo"/>-->
  </a>
</header>
<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
<!--/down-->
      <div class="down">
        <%= image_tag @doctor.image_url().to_s, :class => "doc-pat-img" %>
        <h4 style="padding-left:10px; color:#000; "><%= "Dr." + @doctor.name.upcase%></h4>

      </div>
         <!--//down-->
        <div class="menu">
          <ul id="menu" >

            <li><span><%=link_to "Book Appointment",{ :controller => "appointments", :action => "new", :docid =>@doctor.id,:patient => params[:pid] }%></span></li>
            <li><span><%=link_to "Search Doctors", :controller => "searches", :action => "new", :id =>@doctor.id,:patid => params[:patid], :method => :post%></span></li>
            <li><span><%=link_to "Back to Dashboard", {:controller=>:patients,:action=>:show,:id => params[:pid]} %></span></li>
            <li><span><%= link_to "Logout", logout_path, method: "delete"%></span></li>
          </ul>
        </div>
       </div>
