<div class="sidebar-menu">
  <br/><br/><br/><br/><br/><br/>
  <header class="logo">
  <span id="logo"> <h1 style="padding-left:10px;"><%=@patient.name%></h1></span>
  <!--<img id="logo" src="" alt="Logo"/>-->
  </a>
</header>
<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
<!--/down-->
      <div class="down" style="height:240px;">
            <%= image_tag @patient.image_url().to_s, :class => "doc-pat-img", :style =>"margin-top:-4.5em" %>
             <h4 style="padding-left:10px; color:#000; "><%=@patient.name.upcase%></h4>
      </div>
         <!--//down-->
        <div class="menu">
          <ul id="menu" >
            <li><span><%=link_to "Dashboard", {:controller=>:patients,:action=>:show,:id=>@patient.id} %></span></li>
            <li><span><%=link_to "Appointments",{:controller => "appointments", :action => "show1", :id => @patient.id} %></span></li>
            <li><span><%=link_to "Search Doctors", :controller => "searches", :action => "new", :patid => @patient.id , :method => :post%></span></li>
            <li><span><%=link_to "Reviews", :controller => "reviews", :action => "show", :id => @patient.id %></span></li>
            <li><span><%=link_to "Discussion Forum", :controller => "forums", :action => "show", :patid => @patient.id %></span></li>
            <li><span><%= link_to "Logout", logout_path, method: "delete"%></span></li>

          </ul>
        </div>
       </div>
